::selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}

html {
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(#000, 0);
}

body {
	font-family: $font-sans-serif;
	color: #000;
    background: #fff;
	overscroll-behavior-y: none;
}

a {
	color: inherit;
}
