// Typography
$font-sans-serif: Arial, Helvetica, sans-serif;
$font-serif: Georgia, 'Times New Roman', Times, serif;

// Bootstrap
//
// Grid breakpoints
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
);

// Grid containers
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px
);

// Spacing
$spacer: 3rem;
